DEV_EMAIL=you@example.com
CF_ACCESS_TEAM_DOMAIN=https://yourteam.cloudflareaccess.com
CF_ACCESS_AUD=
DATABASE_PATH=data/hsa.db
# set to 1 to utilize login flow 
FORCE_ACCESS=0
BODY_SIZE_LIMIT= 15M
UPLOAD_ROOT= /data/uploads